{% load static %}

<div class="allbox">
    <img class="line" src="../../static/img/line.png" alt="linea">
    <div class="redes">
        <a href="https://wa.me/573213943876" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="https://www.linkedin.com/in/edwinjhs/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://www.facebook.com/EdwinJoelH/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://github.com/Edwinjhs" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
    <img class="line" src="../../static/img/line.png" alt="linea">
</div>

<div class="text-name-copy">
    <h1>EDWIN HERNÁNDEZ</h1>
    <p>all rights reserved @2023</p> 
</div>