{% load static %}

<div class="content-header">

    <div class="profile">
        <img class="profile-img" src="../../static/img/profile1.png" alt="profile">
        <div class="redes">
            <a href="https://wa.me/573213943876" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.linkedin.com/in/edwinjhs/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.facebook.com/EdwinJoelH/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://github.com/Edwinjhs" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
    <div class="header-text">
        <div class="title-header">
            <h1>FULL STACK WEB DEVELOPER</h1>
        </div>
        <div class="info">
            <p><b>Soy un Web Developer con experiencia en el desarrollo tanto del front-end como del back-end.  Si buscas un desarrollador capaz de construir aplicaciones web de alta calidad, estoy aquí para ayudarte.</b></p>
        </div>
        <div class="downloadcv">
            <a href="{% static 'portfolio/cv.pdf' %}" class="btn" target="_blank">Descargar CV</a>
        </div>
    </div>

</div>
<div class="scroll-icon">
    <img class="scroll" src="../../static/img/scroll.png" alt="scroll">
</div>



