{% load static %}
<div class="box-text">
  <h1 class="title-reco">SOBRE MI</h1>
  <p><b>Soy un apasionado desarrollador web full stack con experiencia en proyectos de desarrollo web. he tenido la oportunidad de trabajar en diferentes proyectos y contextos, lo que me ha permitido obtener una visión global del mundo del desarrollo.
    Me considero una persona comprometida con cada proyecto en el que participo. Me encanta colaborar con equipos multidisciplinarios y estar siempre dispuesto a aprender y mejorar mis habilidades. Me siento cómodo trabajando con diferentes tecnologías y frameworks, y disfruto especialmente explorando nuevas tendencias y soluciones innovadoras para satisfacer las necesidades de los clientes.
    Siempre estoy en busca de nuevos desafíos y oportunidades para seguir creciendo profesionalmente, aportando mi experiencia y conocimientos para contribuir al éxito de los proyectos en los que participo.</p>
  

</div>
