.title-reco{
    margin-top: 4rem;
    display: flex;

}

.box-text{
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-flow: column wrap;
    padding: 15px;
}
.box-text p{
    color:#7290c9;
    font-weight: 500;
}
